{% extends 'mygoddess/base.html' %}
{% load static %}
{% block title %}Trisha Amman Temple {% endblock %}
{% block content %}
<div class="text-success alert" style="background-image:url('http://127.0.0.1:8000/static/background_images/devi.jpg')">
    <div class="row">

            <img src="{% static 'Devotional/goddess_trishakrishnan.png' %}" width="100%">

        </div>
    <div class="row text-primary" style="border-style:groove;background-image:url('http://127.0.0.1:8000/static/background_images/god_01.jpg')">

        </div>

    </div>

</div>
{% endblock %}