{% extends 'mygoddess/base.html' %}
{% load static %}
{% block title %}Trisha Amman Temple {% endblock %}
{% block content %}
<div class="text-success alert" >
    <div class="row" style="position:relative;bottom:20px; background-image: url('http://127.0.0.1:8000/static/background_images/god_100.jpeg')">
        <h2 class="alert">నయనతార  త్రిషాదేవత వాహనం మరియు భక్తురాలు  అగుట! </h2>
        <marquee direction="right"><img src="{% static 'Devotional/goddess_trisha_07.png' %}" height="300px"> </marquee>

    </div>
    <div class="row">
         <div class="col-md-8 text-primary">
            <p style="font-style:bold;font-family:verdana;">

            </p>
        </div>

    </div>
    <div class="row" style="background-image: url('http://127.0.0.1:8000/static/background_images/trisha300.jpg')">
        <div class="col-md-4">
            <img src="{% static 'background_images/goddess_trisha_amman.png' %}" width="100%" height="700px">
        </div>
        <div class="col-md-4">
            <img src="{% static 'sticker_images/goddess_anjle.png' %}" width="100%" height="700px">
        </div>
        <div class="col-md-4">
            <img src="{% static 'Devotional/goddess_trishakrishnan.png' %}" width="100%" height="700px">
        </div>
    </div>

</div>
{% endblock %}