{% extends 'mygoddess/base.html' %}
{% load static %}
{% block title %}Trisha Amman Temple {% endblock %}
{% block content %}
<div class="text-primary alert container-fluid">
    <div class="row">
        <h1 align="center" style="color:red;">త్రిషాదేవత భానిసలు </h1>
         <div class="col-md-4">
         </div>
        <div class="col-md-4">
            <img src="{% static 'Devotional/trisha_amman.jpg' %}" height="400px">
        </div>
        <div class="col-4">
         </div>
    </div>
    <div  style="background-image:url('http://127.0.0.1:8000/static/Devotional/goddess_02.jpg')">
    <div class="row">
        <p align="justify"><br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ఒక సుదీర్ఘ క్రూరమైన యుద్ధం 4 0 రోజుల వరకు  ఘోరంగా  సాగి ముగిసింది . ఆ యుద్దంలో  భగవతి త్రిషాదేవి నేతృత్వం  వహించిన  సైన్యం  విజయం  సాదించింది .భగవతి త్రిషా దేవి  రాణిగా  సింహాసనం అధిష్టించడానికి ప్రజలందరూ సంతోషంగా  అంగీకరించినప్పటికీ
ప్రత్యర్ధులైన నయనతార మరియ  కాజల్ అగర్వాల్  ఇంకా సమంతారుతుప్రబు త్రిషా దేవత పట్ల కోపంగా ఉన్నారు . కానీ  సర్వాంతర్యామి అయిన త్రిషా దేవి  తన  ప్రత్యర్ధులైన  నయన ,కాజల్ ,సమంత తన రాజ్యంలో ప్రజలను హింసించడానికి  పన్నగాలు పన్నుతారని
గ్రహించి  వారి  ముగ్గురిని  బంధించమని ఆదేశించింది,వారు ఆజ్ఞ భగవతి  అంటూ  ఆ ముగ్గిరిని భందించి జైలులో  వేశారు . </p>
    </div>
    <div class="row">
            <p align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            ఒక వారం గడిచిన తర్వాత, దేవత త్రిష ఈ  ముగ్గురు ఖైదీలను తన బానిసలను చేసుకొనే  సమయం ఆసన్నమైంది అనుకొని  ఆమె వారి జైలు  బయట నిలబడి ముగ్గురినీ చూస్తూ, హలో లేడీస్. మీకో మంచి సమాచారం  ఒక షరతుతో
మిమ్మల్ని బయటకు పంపడానికి నేను సిద్ధంగా ఉన్నాను.అప్పుడు నయన ,కాజల్ ,సమంత ఏంటా  షరతు అన్నట్లుగా  త్రిషా దేవి  వైపు చూస్తున్నారు . అప్పుడు త్రిషా దేవి ఆ షరతు ఏంటంటే మీ ముగ్గురు మీ  మోకాలిని వంచి,నా ముందు మోకారిల్లి
 మీ నిజమైన రాణిగా మరియు పాలకురాలిగా నన్ను భావించి  నాకు విధేయతతో ఉంటామని  ప్రమాణం చేయండి. మీరు దాన్ని పూర్తి చేసిన తర్వాత, నేను మిమ్మల్ని విడిపిస్తానని వాగ్దానం చేస్తున్నాను అని భగవతి త్రిషా దేవత చెప్పింది .
దేవత త్రిష  వారు తన డిమాండ్లకు కట్టుబడి ఉంటారని ఆశించింది , కానీ వారి ముఖాల్లోని వ్యక్తీకరణలు వేరే కథను చెప్పాయి. ఆమె ఆదేశాలను పాటించడానికి వారు పెద్దగా ఆసక్తి చూపడం లేదు.
"సింహాసనంపై హక్కు లేని వ్యక్తి ముందు  నేను మోకాలిని  వంచను." దేవత త్రిష కళ్లలోకి  చూస్తూ నయనతార అన్నది . నయనతారతో నేను కూడా  ఏకీభవిస్తున్నాను, అని కాజల్ తన జుట్టుతో ఆడుకుంటూ చెప్పింది.
 అవన్నీ విన్న తర్వాత దేవత త్రిష ముఖంలో నిరాశ కనిపించింది. దేవత త్రిష వీరికి బుద్ది చెప్పాలని  ఆశించి సమంత వైపు తిరిగింది, కానీ ఆమెను  ఆశ్చర్యపరుస్తూ సమంత ఏమీ చెప్పలేదు. సమంత ఈ ముగ్గురిలో బలహీనమైన సంకల్పం కలిగి
 ఉన్నట్లు అనిపించింది, దీని అర్థం సమంతను లొంగతీసుకోవడం సులభం . ఆమె ఏమీ మాట్లాడనప్పటికీ, ఆమె ఇంకా మోకాలిని వంచలేదు కాబట్టి జరగబోయే దాని నుండి ఆమె సురక్షితంగా లేదు.
 సైనికులారా! ఇక్కడికి రండి మరియు ముందుగా చర్చించిన ప్రణాళికతో కొనసాగండి! ” అని త్రిష దేవి ఆదేశించింది .  సైనికులు అక్కడికి వెళ్లి జైలుకి  తాళం తీశారు. త్రిష దేవత చెప్పులను వారి ముఖాలకు కట్టే ముందు ముగ్గురు ఖైదీలకు సంకెళ్లు వేసి
 ఉన్నాయని నిర్ధారించుకుని వారు జైల్‌లోకి వెళ్లారు. నయనతార మరియు కాజల్ ముఖాలకు  సైనికులు త్రిష దేవత చెప్పుల జతను   గట్టిగా కట్టి  నేలపై మోకాళ్ళదండ వేయించారు . ఇక మిగిలింది సమంత మాత్రమే, అయితే  త్రిషా దేవి ముందుగా టార్గెట్
 చేయాలనుకున్నది ఆమెనే కాబట్టి, ఆమెకు ఒక తాజా చెప్పుల జతను  ఇస్తే సరి అని భావించి, సమంత వైపు వెళ్లి, చెప్పులు ముఖానికి కట్టేలోపు త్రిష నేను మీతో సహేతుకంగా ఉండటానికి ప్రయత్నించాను, కానీ మీరు నా ముందు  మోకరిల్లాడానికి
 నిరాకరించారు మరియు ఇప్పుడు మీ ముగ్గురూ మీ ముఖాలకు నా చెప్పులు కట్టుకున్నారు. మీరు మూడు రోజులు ఆహారం లేదా నీరు లేకుండా ఇలాగే ఉంటారు. నేను మీకు ఇచ్చిన ఆఫర్ ఇప్పుడు మీకు దూరంగా ఉంది. మీకు  ఇష్టం
 ఉన్నా లేకపోయినా మీ కాళ్ళు  విరగ్గొట్టి నా భానిసలుగా  చేసుకుంటాను . చివరకు  మీ ముగ్గురూ కుక్కల వలె నాకు విధేయులుగా ఉంటారు. అప్పటి వరకు, మీరు నా చెప్పుల సువాసనను ఆనందిస్తారని నేను ఆశిస్తున్నాను.
 ముగ్గురి ఖైదీలను నేలపై ఉంచి జైల్ నుండి బయటికి వెళుతూ  దేవత త్రిష చెప్పింది, ఆ  ముగ్గురు త్రిషా దేవిధరించే చెప్పుల  వాసన తప్ప మరేమీ చూడలేక పోయారు .
        </p>
    </div>
      <div class="row">
            <p align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
త్రిషాదేవి  సరిగ్గా మూడు రోజులు గడిచిన తర్వాత ఆ ముగ్గురు ఉన్న సెల్ వద్దకు వెళ్ళగా ఆమె ఆంతరంగిక రక్షక భటులు ఆమెకు రక్షణగా అనుసరిస్తున్నారు . అప్పుడు త్రిషా దేవి ఆ సెల్ దగ్గర ఆగి తన వేసుకొని వదిలేసిన చెప్పులను
మెడపై వేలాడతీసుకుంటూ బలహీనంగా పడుకున్న ముగ్గురిని చూసింది ,వెంటనే త్రిషా దేవి కనుసైగతో ఆ కాపలాదారుడు ఆ సెల్ తాళం తీసి బయటకు తెరిచాడు . అప్పుడు త్రిషా దేవి లోపలికి వెళ్ళి వారితో "గత మూడు రోజులు ఎలా ఉన్నాయి?"
 అని అడిగింది నేలపై బలహీనంగా పడుకున్న ముగ్గురు ఖైదీలను చూస్తూ. ఆ ముగ్గురూ ఆకలితో, దాహంతో ఉండటంతో త్రిష దేవతకి సమాధానం చెప్పలేదు.అప్పుడు త్రిషా దేవత నవ్వుతూ రెండు రోజుల పాటు ఆహారం
 మరియు నీరు లేకుండా ఉన్నారు అయ్యో అందుకే "నేను మీకు ఆహారం మరియు నీరు తెచ్చాను." అంటూ వారి మెడలకున్న చెప్పులన్నింటినీ తీసి నేలపై ఉంచమని అక్కడి సైనికులను ఆదేశించింది, వారు అలాగే చేశారు.
 ఆ తర్వాత భగవతి త్రిషా దేవి చప్పట్లు కొడుతూ ఆహారాన్ని తీసుకురమ్మని ఆదేశించింది వెంటనే ముగ్గురు భటులు భోజన పాత్రలతో వచ్చి త్రిషా దేవికి నమస్కరించారు. త్రిషాదేవి ఆ మూడు భోజనపాత్రలను తన దగ్గరకు రమ్మనగా
 వారు ఆజ్ఞ భగవతి అంటూ ఆ మూడు పాత్రలను దేవత ముందు ఉంచారు సైనికులు .అప్పుడు దేవత త్రిష నవ్వుతూ ఆ మూడు పాత్రలలో ఉమ్మివేసి ఆ ఉమ్మును మరియు ఆహారాన్ని కలపమనగా ముగ్గురు భటులు ఆహారాన్ని మరియు పవిత్రమైన
 త్రిషా దేవి ఉమ్మును కలుపుతూ ఉండగా త్రిషా దేవత నవ్వుతూ ఇంకా ఇంకా వాటిలో ఉమ్మి వేస్తుంది. భటులు ఇంకా ఇంకా ఆ ఉమ్మిని ఆహారాన్ని కలుపుతూ ఉన్నారు . అప్పుడు ఒకసారి త్రిషా దేవి ఇకచాలు ఆగండి అంటూ నేలపై పరిచిన
 తన మూడు జతల చెప్పులలో ఆ ఆహారాన్ని పోయమని ఆదేశించింది .వారు ఆజ్ఞ భగవతి అంటూ త్రిషాదేవి  వాడి పడేసిన చెప్పుల జతలలో ఆ ఆహారాన్ని పోసి ఒక్కొక్క జత ఆహారంతో నింపారు .  తమ భోజనంలో ఉమ్మి వేయటం
 ఆ ముగ్గురు  చూసారని త్రిషాదేవత నిర్ధారించుకుంది.త్రిషాదేవత ఆధేశించగా అక్కడున్న సైనికులు   నయనతారకు  మరియు కాజల్‌లకు ఆహారంతో నిండిన ఒక జత చెప్పులను అందించారు , కానీ సమంతకు కాదు.
 త్రిషాదేవత  స్వయంగా తానే   ఆహారంతో నిండిన చివరి చెప్పుల జతను పట్టుకుని  ఉత్తమమైన భోజనం అని చెప్పులు చూస్తున్న సమంత వైపు నడిచింది.
        </p>
    </div>
    <div class="row">
            <p align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            సమంతను చూస్తూ  ఆహారం కావాలా? అని అడిగింది  త్రిషా  దేవి.

“అవును..” అంది సమంత బలహీనంగా.

“అయితే  ఆహారం కోసం నన్ను వేడుకో. నీకు ఆహారం ఇవ్వమని నన్ను వేడుకో” అన్నది త్రిషా దేవి .

త్రిషా దేవి ఆదేశాన్ని తిరస్కరించే శక్తి సమంతకు లేదు, కాబట్టి ఆమె “దయచేసి నాకు ఆహారం ఇవ్వండి..నేను మిమ్మల్ని  వేడుకుంటున్నాను త్రిషా భగవతి మీరు నన్ను ఏది అడిగినా నేను చేస్తాను, దయచేసి నాకు ఆహారం ఇవ్వండి..దయచేసి.." అని అన్నది సమంత ధీనంగా.

అప్పుడు త్రిషా దేవి నవ్వుతూ "మంచిది. నేను కోరుకున్నది ఏదైనా చేస్తానని నువ్వు చెప్పినందున, నువ్వు నా పాదాలను ముద్దాడాలని నేను  కోరుకుంటున్నాను నా కాళ్ళను   ముద్దు పెట్టుకుంటే  నీవు  చాలా దయనీయంగా కోరిన ఆహారాన్ని నేను నీకు ఇస్తాను, అంటూ త్రిషాదేవి గద్దించింది.


అప్పుడు సమంత భయంతో  త్రిషాదేవత పాదాల వద్దకు పాకి , ఆ పద్మపవిత్రమైన త్రిషాదేవత కాళ్ళను  చాలా సార్లు ముద్దుపెట్టుకుంది,

అప్పుడు త్రిషా దేవి "మంచి అమ్మాయివి" అంటూ ఆ   చెప్పులు నేలపైకి దించుతూ సమంత తినడానికి వీలుగా  ఆహారం నిండిన చెప్పులను సమంత మెడలో వేసి ఆ ఆహారంలో మళ్ళీ ఉమ్మేసి నవ్వుతూ  ఇక తిను అని చిరునవ్వుతో చెప్పింది.
        </p>

    </div>
</div>
</div>
{% endblock %}